<ion-content class="background">
  <ion-icon name="arrow-round-back" (click)="goBack()" size="large" class="arrow"> </ion-icon>

  <ion-grid>
    <div class="ion-text-center">

      <ion-row>
        <ion-col>
          <ion-title>
            <b>Envianos tu mensaje</b>
          </ion-title>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            ¿Queres recomendarnos alguna cancha para agregar a nuestra lista?
            ¿Tenes algun comentario, sugerencia o critica?
          </ion-label>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <ion-textarea placeholder="Deja tu comentario aqui.." [(ngModel)]="contenido"></ion-textarea>
      </ion-col>
    </ion-row>

    <div class="ion-text-right">
      <ion-row>
        <ion-col>
          <ion-button (click)="sendMessage()">
            <b>Enviar</b>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>




</ion-content>