<ion-content class="background">
  <ion-icon name="arrow-round-back" (click)="dismiss()" size="large" class="goBack"></ion-icon>
  <ion-grid>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-img src="../../assets/images/candado.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-title>
          <b>¿Olvidaste tu contraseña? </b>
        </ion-title>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>
          Ingresa tu mail para recuperarla
        </ion-label>
      </ion-col>
    </ion-row>

    <form [formGroup]="resetPasswordForm">
      <ion-row class="padding">
        <ion-col>
          <ion-input formControlName="email" placeholder="Email" type="text" [(ngModel)]="emailModel">
            <ion-icon name="contact" size="large"></ion-icon>
          </ion-input>
          <div *ngIf="!resetPasswordForm.controls.email.valid && resetPasswordForm.get('email').touched">
            <ion-icon class="errorIcon" name="information-circle-outline"></ion-icon>
            <ion-label class="errorMessage">El mail debe tener el formato correcto. </ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="padding">
        <ion-col class="ion-text-center">
          <ion-button (click)="resetPassword()" [disabled]="!resetPasswordForm.valid">
            <b>Aceptar</b>
          </ion-button>
        </ion-col>

      </ion-row>
    </form>
  </ion-grid>

</ion-content>