.background {
  --background: url("../../assets/images/imagen.png") 0 0/100% 100% no-repeat;
}

ion-icon {
  padding-top: 15%;
  font-size: 150px;
}

.title {
  padding-top: 10%;
  font-size: xx-large;
}

.tituloChico {
  font-size: x-large;
  word-wrap: break-word;

}
ion-label {
  font-size: medium;
  word-wrap: break-word;

}

.label {
  padding: 5%;
  word-wrap: break-word;

}

ion-button {
  --color: black;
  --background: #f0c112;
}

ion-img {
  padding-top: 15%;
}

.imagenChica {
  size: small;
  font-size: small;
}

.textSaltar {
  color: #f0c112;
  font-size: large;
}

.ion-text-right {
  text-align: right;
  align-items: right;
  justify-content: right;
  padding-top: 3%;
  padding-right: 3%;
}

ion-slides {
  --bullet-background: black;
  --bullet-background-active: grey;
}

ion-slide {
  display: block
}
