.background {
    --background: url("../../assets/images/imagen.png") 0 0/100% 100% no-repeat;
  }

.labelTitle {
  font-size: large;
}

ion-icon {
  padding: 3%
}

ion-button {
  --color: black;
  --background: #f0c112;
}

ion-label {
  font-size: medium;
}


.title {
  font-size: large;
  --color: black;
}


hr{
  border-width: 0.2px;
  border-color: grey;
  background-color: grey;
}
