<ion-header >

  <ion-toolbar class="background">
  <ion-icon name="arrow-round-back" (click)="dismiss()" size="large" class="arrow"> </ion-icon>

  <ion-grid>
    <ion-row class="first-row">
      <ion-col>
        <ion-avatar>
          <ion-img src="../../assets/images/usuario.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label class="name">
          <b> Nombre Apellido </b>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
</ion-header>

<ion-content class="second-background">
  <!-- <ion-icon name="arrow-round-back" (click)="dismiss()" size="large" class="arrow"> </ion-icon>

  <ion-grid>
    <ion-row class="first-row">
      <ion-col>
        <ion-avatar>
          <ion-img src="../../assets/images/usuario.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label class="name">
          <b> Nombre Apellido </b>
        </ion-label>
      </ion-col>
    </ion-row>
<hr> -->
<ion-grid>
      <ion-row >
      <ion-col>
        <b> Mis reservas </b>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <i> Aun no hay reservas.</i>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>