ion-img {
  width: 65%;
}

ion-fab-button {
  width: 100px;
  height: 100px;
  padding-bottom: 3%;
}
ion-button {
  --background-color: #d8d7d2;
  --background: #d8d7d2;
}
.ion-text-center {
  align-items: center;
}

.title {
  font-size: 1.3em;
  padding-top: 50%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.sport {
  text-transform: capitalize;
  font-size: 0.9em;
  color: black;
}
