ion-content {
  .icons {
    width: 65%;
  }

  ion-fab-button {
    width: 80px;
    height: 80px;
    padding-bottom: 3%;
  }

  .title {
    font-size: 1.3em;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
  }

  .sport {
    text-transform: capitalize;
    font-size: 0.9em;
    color: black;
  }

  .information-icon {
    padding: 2%;
  }

  .city-name {
    --color: #f0c112;
  }

  .labelCanchas{
    padding-left: 5%;
    color: gray;
    font-style: italic;
    font-size: small;
  }

  ion-button {
    --color: black;
    --background: white;
    padding: 1%;
  }

  ion-input {
    border: solid 1px rgb(185, 184, 184);
    border-radius: 5px;
    padding-left: 10%
  }

  .miniIcon{
    padding: 2%
  }

  .ubicationLabel{
    font-size: small;
  }

  .nameText {
    font-size: large;
  }

  ion-card{
    padding: 0%;
  }

  ion-grid {
    padding: 0%
  }

  ion-item {
    padding: 0%
  }
}
