.buttonHours {
  --background: #C8C8C7;
}

.buttonTouched {
  --background: #f0c112;
}

ion-grid {
  padding: 5%;
}

.buttonContinue {
  --color: black;
  --background: #f0c112;
}

ion-backdrop {
  --backdrop-opacity: 0.7
}

ion-datetime {
  color: grey
}