ion-avatar {
    padding: 3%;
    margin: auto;
    // width:40% !important;  
    // height :20% !important;  
    width: 125px;
    height: 125px;
}

ion-text{
    font-size: 1.1em;
    padding-top: 50%;
}

.background{
    --background:  url('../assets/images/prueba(2).jpg') ;
}

ion-grid{
    height: 100%;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-label {
    padding-left: 5%;
    font-size: small;
}

.name {
    font-size: x-large;
}