<ion-content class="background">
  <ion-grid>   
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <ion-img src="../../assets/icon/iconoApp.png" class="img-size" ></ion-img>
        </ion-col>
        <ion-col col-4></ion-col>

      </ion-row>
      <div class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-label>
              Usuario o Correo electronico 
            </ion-label>
          </ion-col>     
        </ion-row>
      </div>
    <ion-row>
      <ion-col>
        <ion-input></ion-input>
      </ion-col>
    </ion-row>
    <div class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-label>
            Contraseña
          </ion-label>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <ion-input type="password"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="dark">
          Ingresar
        </ion-button>    
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="dark">
          Crear una cuenta
        </ion-button> 
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
