.background {
    --background: url("../../assets/images/imagen.png") 0 0/100% 100% no-repeat;
  }

.labelTitle {
  font-size: x-large;
}

ion-icon {
  padding: 3%
}

ion-button {
  --color: black;
  --background: #f0c112;
}

ion-label {
  font-size: large;
}