.background {
  --background: url("../../assets/images/imagen.png") 0 0/100% 100% no-repeat;
}

.labelTitle {
  font-size: x-large;
}
.labelReservas {
  font-size: large;
  padding: 2%;
}
ion-button {
  --color: black;
  --background: #f0c112;
}

ion-grid {
  padding: 2%;
}

.reserveText {
  color: #f0c112;
}

.padding {
  padding-left: 20%;
}

ion-img {
  border: 0, 5px solid black;
  box-shadow: 0 0 1px gray;
}

.blackandwhite {
  filter: grayscale(100%);
}


.blackLetter {
  color: black;
}

.noHayReservas {
  font-size: small;
  color: gray;
  padding-left: 3%;
  padding-right: 3%;
  font-style: italic;
}

.ion-text-right{
  text-align: right;
  align-items: right;
  justify-content: right;
}

.cancelText{
  color:red;
  font-size: small;
  padding-right: 2%;
}

.cancelIcon {
  color: red;
}