.arrow {
  padding-top: 5%;
  padding-left: 3%;
}

.title {
  padding-top: 1.5%;
}

ion-button {
  --color: black;
  --background: white;
}

.comentario {
  color: blue;
  font-size: 0.8em;
  font-style: italic;
}

.ion-text-end {
  text-align: end;
  padding: 3%;
}

ion-list {
  padding-top: 3%;
  padding-bottom: 3%;
}

hr {
  border: black;
}

h5 {
  text-transform: capitalize;
}

ion-avatar {
  border: solid 1px rgb(185, 184, 184);

}

.noComments {
  color: gray;
  font-style: italic;
  font-size: small;
}

ion-card-title {
  text-transform: capitalize;
}

.buttonHours{
  --background: #F3DB83
}

.buttonTouched{ 
  --background: #f0c112;
}

.padding {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.descriptionText{
  font-size: small;
}