<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="arrow-round-back" (click)="goBack()" size="large" class="arrow"> </ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-title class="title capitalize" *ngIf="cancha">{{cancha.nombre}}</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="cancha">
    <ion-card-header>
      <ion-img src="{{cancha.imagen}}"></ion-img>

      <ion-card-title>{{cancha.nombre}}</ion-card-title>

      <ion-card-subtitle>
        <ion-icon name="pin"></ion-icon>
        {{cancha.ubicacion}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text class="descriptionText"> {{cancha.descripcion}}</ion-text>
    </ion-card-content>

    <ion-grid class="informationGrid">
      <hr>

      <ion-row>
        <ion-col>
          <ion-label class="labelInformation">Información adicional</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <b>Deporte: </b>
          </ion-label>
          <ion-label class="capitalize">
            {{cancha.deporte}}
          </ion-label>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <b>Tipo de piso:</b>
          </ion-label>
          <ion-label class="capitalize">
            {{cancha.piso}}
          </ion-label>
        </ion-col>

      </ion-row>
      <ion-row *ngIf="cancha.deporte == 'futbol'">
        <ion-col>
          <ion-label>
            <b>Cantidad de jugadores por equipo:</b>
          </ion-label>
          <ion-label class="capitalize">
            {{cancha.cantJugadores}}
          </ion-label>
        </ion-col>

      </ion-row>
      <ion-row *ngIf="cancha.deporte == 'futbol'">
        <ion-col>
          <ion-label>
            <b>Tipo de cancha:</b>
          </ion-label>
          <ion-label class="capitalize">
            {{cancha.tipoCancha}}
          </ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-card>



  <ion-list *ngIf="cancha">
    <ion-list-header>
      <b>Comentarios </b>
    </ion-list-header>

    <div *ngIf="cancha.comentarios.length == 0">
      <ion-label class="noComments">Esta cancha no tiene comentarios. ¡Se el primero!</ion-label>
    </div>



    <ion-item *ngIf="cancha.comentarios.length != 0">
        <ion-item *ngFor="let comentario of cancha.comentarios; let i = index">
          <ion-avatar slot="start">
            <img src="../../assets/images/usuario.jpg">
          </ion-avatar>
          <ion-label>
            <h5><b> {{cancha.comentarios[i].nombre}}</b></h5>
            <p><i>"{{cancha.comentarios[i].comentario}}"</i></p>
          </ion-label>
        </ion-item>
    </ion-item>

    <div class="ion-text-end">
      <ion-text (click)="openComments()" class="comentario"> Deja un comentario sobre esta cancha </ion-text>
    </div>
  </ion-list>

</ion-content>

<ion-footer>

  <div class="padding">
    <ion-button expand="full" (click)="openDateHour()" class="reserveButton">
      <b class="capitalize">Reservar</b>
    </ion-button>

  </div>
</ion-footer>