.arrow {
  padding-top: 5%;
  padding-left: 3%;
}

.title {
  padding-top: 1.5%;
}

ion-button {
  --color: black;
  --background: white;
}

.comentario {
  color: #000080;
  font-size: 0.8em;
  font-style: italic;
}

.ion-text-end {
  text-align: end;
  padding: 3%;
}

ion-list {
  padding-top: 3%;
  padding-bottom: 3%;
}

hr {
  border: black;
}

h5 {
  text-transform: capitalize;
}

ion-avatar {
  border: solid 1px rgb(185, 184, 184);

}

.noComments {
  color: gray;
  font-size: small;
  padding-left: 5%;
}

ion-card-title {
  text-transform: capitalize;
}

.buttonHours{
  --background: #F3DB83
}

.buttonTouched{ 
  --background: #f0c112;
}

.padding {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.descriptionText{
  font-size: small;
}

.labelInformation {
  color: black;
  font-size: large;
}

.informationGrid{
  padding-left: 3%
}

hr{
  border-width: 0.2px;
  border-color: grey;
  background-color: grey;
}


.reserveButton{
  --color: black;
  --background: #f0c112;
}

ion-list-header {
  font-size: large;
  padding-bottom: 0%;
}

.break {
  white-space: pre-line;


}