ion-datetime {
  border: black;
}

ion-icon {
  padding: 0%;
  color: black;
}

ion-label {
  color: black;
}

.label-button {
  color: gray;
}

.ion-text-right {
  text-align: right;
  align-items: right;
  justify-content: right;
  padding-right: 5%;
}

.ion-text-center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

ion-card-content {
  color: red;
}

.information {
  color: grey;
  font-size: medium;
}

.recomendationText {
  font-size: small;
  color: #f0c112;
}

.informationText{
  padding: 3%;
  align-items: center;

}

ion-row {
  display: flex;
  align-items: center;
  height: 100%;
}

.label-sport {
  font-size: large;
  padding-left: 3%;
  text-transform: capitalize;
}

.labelbutton {
  font-style: bold;
  font-size: small;
  color: grey;
}

.button-border {
  border-top-width: 0.01em;
  border-bottom-width: 0.01em;
  border-top-color: rgb(202, 201, 201);
  border-bottom-color: rgb(202, 201, 201);
  border-top-style: solid;
  border-bottom-style: solid;

  box-shadow: 0 0 2px rgb(202, 201, 201);
}

.right {
  border-right-width: 0.01em;
  border-right-color: rgb(202, 201, 201);
  border-right-style: solid;
}

.iconbuttons {
  color: grey;
  padding-right: 2%;
}

ion-header {
  padding-bottom: 0%;
}

.grid {
  padding: 0%;
}

ion-card-content{
  .horarios {
    color: grey;
    font-style: italic;
  }
  b{
    text-align: end;
  }
}

ion-fab-button {
  color: warning;
  
}

ion-card-title {
  text-transform: capitalize;

}