<ion-content class="background">

  <ion-grid>   
    <ion-row>
      <ion-col>
        <ion-label>
          Nombre 
        </ion-label>
      </ion-col>     
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          Apellido 
        </ion-label>
      </ion-col>     
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          Correo electronico 
        </ion-label>
      </ion-col>     
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          Contraseña 
        </ion-label>
      </ion-col>     
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="password"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="dark">
          Registrarse
        </ion-button> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="dark">
          Volver
        </ion-button> 
      </ion-col>
    </ion-row>
</ion-content>
