.background {
  --background: url("../../assets/images/imagen.png") 0 0/100% 100% no-repeat;
}

.registrar {
  --color: black;
  --background: #f0c112;
}

ion-grid {
  padding: 5%;
}

.arrow {
  padding-top: 5%;
  padding-left: 3%;
}

ion-input {
  border: solid 1px grey;
  border-radius: 50px;
  ion-icon {
    color: gray;
    padding-left: 2%;
  }
}

ion-text {
  text-align: center;
  font-family: "Bowlby One SC", cursive;
}

.espacio {
  padding: 3%;
}

.errorMessage {
  color: red;
  padding-left: 1%;
  font-style: italic;
  font-size: 0.75em;
}

.errorIcon {
  color: red;
  padding-left: 2%;
  padding-top: 1%;
  font-size: 13px;
}
