.ion-text-right {
    text-align: right;
    align-items: right;
    justify-content: right;
  }

  ion-textarea {
    border: solid 1px rgb(185, 184, 184);
    border-radius: 5px;
    background-color: white;
    height: 250px;
  }

  ion-button {
    --color: black;
    --background: #f0c112;
  }