<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="arrow-round-back" size="large" (click)="dismiss()"> </ion-icon>
        </ion-col>
        <ion-col size="10">
          <b class="labelTitle">Detalles de tu reserva</b>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid *ngIf="loading">
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-spinner name="lines"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!loading">
    <ion-grid *ngIf="cancha">
      <ion-card>     
        <ion-row>
          <ion-col size="1.5">
            <ion-icon name="calendar" size="large"></ion-icon>
          </ion-col>
          <ion-col size="10.5">
            <ion-label>
              <b>Fecha de la reserva:</b> {{reserva.fecha}}
            </ion-label>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col size="1.5" >
            <ion-icon name="time" size="large"></ion-icon>
          </ion-col>
          <ion-col size="10.5">
            <ion-label>
              <b>Horario de la reserva: </b> {{reserva.hora}}:00hs
            </ion-label>
          </ion-col>
        </ion-row>
  
      </ion-card>
    </ion-grid>
    <ion-card *ngIf="cancha">      
      <ion-card-header>
        <ion-img src="{{cancha.imagen}}"></ion-img>
        <ion-card-title class="capitalize">{{cancha.nombre}}</ion-card-title>
        <ion-card-subtitle>
          <ion-icon name="pin"></ion-icon>
          {{cancha.ubicacion}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-text class="descriptionText"> {{cancha.descripcion}}</ion-text>
      </ion-card-content>

      <ion-grid class="informationGrid">
        <hr>
        <ion-row>
          <ion-col>
            <ion-label class="labelInformation">Información adicional</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>
              <b>Deporte: </b>
            </ion-label>
            <ion-label class="capitalize">
              {{cancha.deporte}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>
              <b>Tipo de piso:</b>
            </ion-label>
            <ion-label class="capitalize">
              {{cancha.piso}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="cancha.deporte == 'futbol'">
          <ion-col>
            <ion-label>
              <b>Cantidad de jugadores por equipo:</b>
            </ion-label>
            <ion-label class="capitalize">
              {{cancha.cantJugadores}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="cancha.deporte == 'futbol'">
          <ion-col>
            <ion-label>
              <b>Tipo de cancha:</b>
            </ion-label>
            <ion-label class="capitalize">
              {{cancha.tipoCancha}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-grid *ngIf="!cancha" (click)="getDocument()">
      <ion-row class="reload">
        <ion-col size="1">
          <ion-icon src="../../assets/icon/svg/reload.svg"></ion-icon>
        </ion-col>

        <ion-col size="11">
          <ion-label class="noInternetMessage">La conexión a internet ha fallado. Haga click aqui para recargar</ion-label>
        </ion-col>
      </ion-row>
     
    </ion-grid>
  </div>
</ion-content>
